<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulario</title>
    <link href="estilos/style_inicio.css" rel="stylesheet">
  </head>
  <body>
    <form method="POST" action="return.html" class="formulario">
      <h1>Formulario de Turno</h1>
        <label>Nombre:</label><input type=data id="1">
        <br><br>
        <label>Grupo:</label>
        <select class="grpS">
            {% for i in grp %}
              <option value=i.id_grp>{{ i.numero_grp }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label>Division:</label>
        <select class="divS">
            {% for i in div %}
              <option value=i.id_div>{{ i.descripcion }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Enviar">
    </form>
  </body>
</html>
